.box {
	width: 300px;
    height: 100px;
    display: inline-block;
}

.red-background {
    background-color: red;
}

.blue-background {
	background-color: blue;
}

.green-background {
	background-color: green;
}

.one {
    width: 100px;
	height: 100px;
	background-color: cornflowerblue;
	border: 1px solid black;
    display: inline-block;
}

.special {
    background-color: darkolivegreen;
	margin: 0px 50px;
}

.text-container {
	padding-left: 50px;
    border: 1px solid black;
    width: 500px;
	height: auto;
}